body 
{
  background-image:URL("https://cdn-welcome.eu.mywebsite-editor.com/obc/user/2e4b1d74-9ee0-42ad-83a2-c5a740011202/7f117e27-4e90-4be3-8d33-34a948039c54");
  background-repeat: repeat;
  background-size: cover;
}
header
{
  background-color:black;
}
.c-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}
img
{
  height: auto;
  width: 50%;
}
p, h1, a, td {
 font-size:30px;
 font-weight:normal;
 padding:0px 0 0px;
 line-height:100%;
 font-style:italic;
}
.box-1
{
  background-color: white;
  padding: 35px;
  margin: 20px;
  border: solid;
  border-color: red;
}
table
{
  border-collapse: collapse;
  border: 2px solid grey;
  width: 90%;
}
th 
{
   border-collapse: collapse;
   border: 2px solid grey;
}
td 
{
   border-collapse: collapse;
   border: 2px solid grey;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
}

@media screen and (max-width: 640px) {
  body {
    background: black;
  }
  table {
    width: 100%;
    order: 1;
  }
}
