body 
{
  background-image:URL("https://avatars.mds.yandex.net/i?id=c4e7b18a8c9fce98edf9dd58d8ee6904_l-5129258-images-thumbs&n=33&w=1640&h=1080");
  background-repeat: repeat;
  background-size: cover;
}
header
{
  background-color:grey;
}
.box-1
{
  background-color: white;
  padding: 50px;
  margin: 50px;
  border: solid;
}
table
{
  border-collapse: collapse;
  border: 1px solid grey;
}
th 
{
   border: 1px solid grey;
}

td 
{
   border: 1px solid grey;
}

p, h1, a, td {
 font-size:30px;
 font-weight:normal;
 padding:0px 0 0px;
 line-height:100%;
 font-style:italic;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
}

<!-- laba3 -->

.container {
  display: flex;
}

.container > li {
  flex: 1;
}

div {
  height: calc(100vh - 50px);
}

@media all and (max-width: 400px) {
  .container > li {
    flex-basis: 100%;
  }
  .search {
    order: 1;
  }

  <!-- laba4 -->

.selector-for-some-widget {
  box-sizing: content-box;
}