body 
{
  background-image:URL("https://avatars.mds.yandex.net/i?id=c4e7b18a8c9fce98edf9dd58d8ee6904_l-5129258-images-thumbs&n=33&w=1640&h=1080");
  background-repeat: repeat;
  background-size: cover;
}
header
{
  background-color:grey;
}
.box-1
{
  background-color: white;
  padding: 50px;
  margin: 50px;
  border: solid;
}
table
{
  border-collapse: collapse;
  border: 1px solid grey;
}
th 
{
   border: 1px solid grey;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
}

td 
{
   border: 1px solid grey;
}

.container {
  display: flex;
}

.container > li {
  flex: 1;
}

@media all and (max-width: 400px) {
  .container > li {
    flex-basis: 100%;
  }
  .search {
    order: 1;
  }
