body 
{
  background-image:URL("https://avatars.mds.yandex.net/i?id=c4e7b18a8c9fce98edf9dd58d8ee6904_l-5129258-images-thumbs&n=33&w=1640&h=1080");
  background-repeat: repeat;
  background-size: cover;
}
header
{
  background-color:grey;
}
img
{
  height: auto;
  width: 100%;
}
.box-1
{
  background-color: white;
  padding: 35px;
  margin: 20px;
  border: solid;
}
table
{
  border-collapse: collapse;
  border: 2px solid grey;
}
th 
{
   border-collapse: collapse;
   border: 2px solid grey;
}
td 
{
   border-collapse: collapse;
   border: 2px solid grey;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
}
