body 
{
  background-image:URL("https://avatars.mds.yandex.net/i?id=c4e7b18a8c9fce98edf9dd58d8ee6904_l-5129258-images-thumbs&n=33&w=1640&h=1080");
  background-repeat: repeat;
  background-size: cover;
}
header
{
  background-color:grey;
}
.box-1
{
  background-color: white;
  font-size: 50px;
  padding: 50px;
  border: 10px black;
}
