body 
{
  background-image:URL("https://bogatyr.club/uploads/posts/2023-06/1687585018_bogatyr-club-p-graffiti-chernoe-foni-krasivo-24.jpg");
  background-repeat: repeat;
  background-size: cover;
}
header
{
  background-color:grey;
}
box1
{
  width: 300px;
  background-color: skyblue;
  font-size: 50px;
}
